# use glob syntax.
syntax: glob
.gradle/

# Gradle environment specific properties

# Build output
build/
out/
target/
bin/
src/main/resources/web/help/onlinehelp
# Maven
pom.xml

# Eclipse
.metadata/
.settings/
.classpath
.project
.pydevproject
.scala_dependencies

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.log
s101plugin.state

# If you have these in your workspace you need to clean up!
*.hdb*
build-number.txt
atlassian-ide-plugin.xml

# Mac
.DS_Store

# Tmp files
*~

# Tests working folders
integration-test
ui-integration-test
deployit-defaults.properties
xl-release-server/src/test/resources/server/conf/server.conf
xl-release-server/src/test/resources/server/conf/xl-release-server.conf

# SBT
.history
integration/riatest/riatest-results.txt
integration/data/.cache
*.rtw

*.swp
integration/riatest/baseWorkDir/
integration/core/recovery/
integration/core/baseWorkDir/
integration/riatest/recovery/
.ropeproject

# front end coverage
xl-release-server/src/test/javascript/unit/coverage/

# css file ignored because we compile it from less file
**/src/web/styles/style.css
node_modules

# Bower components
bower_components
/components

# Temporary screenshots
documentation/temporaryScreenshots

# Gatling
stress-tests/simulation/reports/*
results/
